<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/normalize.css" />
        <link rel="stylesheet" href="/style.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
            rel="stylesheet"
        />
        <!-- Used for code block syntax highlighting -->
        <link href="/prism-dracula.css" rel="stylesheet" />

        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id={{
                env.GOOGLE_ANALYTICS_TAG
            }}"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', '{{ env.GOOGLE_ANALYTICS_TAG }}');
        </script>
    </head>
    <body>
        <div class="container">
            {% include 'navbar.njk' %}
            <main class="content">
                {{ content | safe }}
            </main>
            {% include 'footer.njk' %}
        </div>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
