<hr class="footer__divider" />
<footer class="footer">
    <ul class="footer__nav">
        <li class="footer__nav__item">
            <a class="footer__nav__link" href="/">Home</a>
        </li>
        <li class="footer__nav__item">
            <a class="footer__nav__link" href="/about">About</a>
        </li>
        <li class="footer__nav__item">
            <a class="footer__nav__link" href="/blog">Blog</a>
        </li>
    </ul>
    <div class="footer__contact-links">
        <a
            class="footer__nav__link footer__nav__link--icon"
            href="mailto:derek@derekhassan.dev"
            aria-label="Send an email to derek@derekhassan.dev"
        >
            <i class="ri-mail-fill"></i>
            <!-- <span class="email-text">derek@derekhassan.dev</span> -->
        </a>
        <a
            class="github-button"
            href="https://github.com/derekhassan"
            target="_blank"
            data-show-count="false"
            aria-label="Follow @derekhassan on GitHub"
        >
            Follow @derekhassan
        </a>
    </div>
</footer>
