<nav class="nav">
    <div class="nav__brand">
        <a class="nav__link nav__link--brand" href="/">Derek Hassan</a>
    </div>
    <button aria-expanded="false" class="nav__toggle">
        <i class="ri-menu-line ri-xl"></i>
    </button>
    <ul class="nav__menu">
        <li class="nav__item">
            <a class="nav__link" href="/">Home</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="/about">About</a>
        </li>
        <li class="nav__item">
            <a class="nav__link" href="/blog">Blog</a>
        </li>
    </ul>
</nav>
