<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://derekhassan.dev{{ page.url }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description or metadata.description }}">
        <meta property="og:image" content="">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="derekhassan.dev">
        <meta property="twitter:url" content="https://derekhassan.dev{{ page.url }}">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description or metadata.description }}">
        <meta name="twitter:image" content="">

        <title>{{ title }}</title>
        <meta
            name="description"
            content="{{ description or metadata.description }}"
        />
        <meta name="author" content="{{ author or metadata.author }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/normalize.css" />
        <link rel="stylesheet" href="/style.css" />
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
            rel="stylesheet"
        />
        <!-- Used for code block syntax highlighting -->
        <link href="/prism-dracula.css" rel="stylesheet" />

        {% if env.GOOGLE_ANALYTICS_TAG %}
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id={{
                env.GOOGLE_ANALYTICS_TAG
            }}"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', '{{ env.GOOGLE_ANALYTICS_TAG }}');
        </script>
        {% endif %}
    </head>
    <body>
        <div class="container">
            {% include 'navbar.njk' %}
            <main class="content">
                <a class="back-link" href="/blog">
                    <i class="ri-arrow-left-line"></i> Back to Blog
                </a>
                <span class="content__date">
                    Published on {{ date.toDateString() }}
                </span>
                <!-- {% if updatedOn %}
                <span class="content__date">
                    Last Updated on {{ updatedOn.toDateString() }}
                </span>
                {% endif %} -->
                <ul class="badge-list">
                {%- for tag in tags | filterTags -%}
                    <li class="badge">{{ tag }}</li>
                {%- endfor -%}
                </ul>
                <h1 class="content__header">{{ title }}</h1>
                <div class="blog-content">
                    {{ content | safe }}
                </div>

                {% set previousPost = collections.post |
                getPreviousCollectionItem(page) %} {% set nextPost =
                collections.post | getNextCollectionItem(page) %}
                <div class="post-pagination">
                    <div class="prev">
                        {% if previousPost %}<a href="{{ previousPost.url }}"
                            ><i class="ri-arrow-left-line"></i
                            >{{ previousPost.data.title }}</a
                        >{% endif %}
                    </div>
                    <div class="next">
                        {% if nextPost %}<a href="{{ nextPost.url }}"
                            >{{ nextPost.data.title
                            }}<i class="ri-arrow-right-line"></i></a
                        >{% endif %}
                    </div>
                </div>
            </main>
            {% include 'footer.njk' %}
        </div>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
