---
title: About
layout: 'base.njk'
---

<h1 class="page-heading">{{ title }}</h1>
<p class="paragraph">
    Hi my name is Derek and I'm a full stack JavaScript developer! I've always had a passion for both the creative and
    technical things. From filming and editing videos in middle school, to designing games in high school, I couldn't stop
    thinking about how to continue to create. I found web design to be the perfect intersection of creativity and technical
    skill and I'm excited to share that passion through this blog. Looking to get in touch? You can reach me through my
    email at
    <a class="link" href="mailto:derek@derekhassan.dev">derek@derekhassan.dev</a>.
</p>