---
title: About
layout: 'base.njk'
---

<h1 class="page-heading">{{ title }}</h1>
<p class="paragraph">
    Hi my name is Derek and I'm a full stack JavaScript developer! I like trying
    new things and recently I've jumped into the Azure cloud space. I love
    JavaScript, traveling, specialty coffee, Formula 1, and photography.
    Everyday I'm always trying to learn new things whether that be static site
    generators or 3D modeling. I hope to share what I learn on this site so I
    can help others learn as well. Looking to get in touch? You can reach me
    through my email at
    <a class="link" href="mailto:derek@derekhassan.dev">derek@derekhassan.dev</a
    >.
</p>
