---
title: Blog
layout: 'base.njk'
---

<h1 class="page-heading">{{ title }}</h1>
<ul class="blog-entries">
    {%- for post in collections.post | reverse -%}
    <li>
        <article class="blog-entry">
            <span class="blog-entry__date">
                {{ post.data.page.date.toDateString() }}
            </span>
            <a href="{{ post.url }}">
                <h2 class="blog-entry__title">{{ post.data.title }}</h2>
            </a>
            {%- if post.data.excerpt -%}
            <p>{{ post.data.excerpt }}</p>
            {%- endif -%}
        </article>
    </li>
    {%- endfor -%}
</ul>
